<!-- %APPDATA%\CodeFluent.Modeler.Design -->
<codeFluent.Modeler> 
    <producerDescriptors>
      <producerDescriptor name="WebApiController" displayName="CodeFluent Web Api Producer" category="Custom" typeName="CodeFluent.Producers.WebApiController.WebApiControllerProducer, CodeFluent.Producers.WebApiController" />
    </producerDescriptors> 
</codeFluent.Modeler>